<div class="todo">
  <div class="todo__header">
    <button class="todo__btn-check todo__btn-check--{{priority}}" title="Complete Todo">
      <span class="todo__btn-check__icon material-icons-outlined">check_box_outline_blank</span>
      <span class="todo__btn-check__icon todo__btn-check__icon--hidden material-icons-outlined">check_box</span>
    </button>
    <div class="todo__body">
      <h4 class="todo__title">{{title}}</h4>
      <p class="todo__date">{{formatDate dueDate}}</p>
    </div>
    <button class="todo__btn-delete" data-todo-id="{{id}}" title="Delete Todo">
      <span class="material-icons-outlined">delete</span>
    </button>
  </div>
  
  <form class="todo__form todo__form--hidden">
    <div class="todo__form__field">
      <label for="{{id}}-input-title" class="todo__form__label">Title</label>
      <input type="text" id="{{id}}-input-title" class="todo__form__input todo__form__input-text" name="title" value="{{title}}" required>
    </div>

    <div class="todo__form__field">
      <label for="{{id}}-input-description" class="todo__form__label">Description</label>
      <textarea id="{{id}}-input-description" name="description" class="todo__form__input todo__form__textarea">{{description}}</textarea>
    </div>

    <div class="todo__form__field-wrapper">
      <div class="todo__form__field">
        <label for="{{id}}-input-date" class="todo__form__label">Date</label>
        <input class="todo__form__input todo__form__input-date" id="{{id}}-input-date" name="dueDate" type="date" value="{{formatDate dueDate}}">
      </div>

      <div class="todo__form__field">
        <label for="{{id}}-input-priority" class="todo__form__label">Priority</label>
        <select class="todo__form__input todo__form__select" id="{{id}}-input-priority" name="priority">
          <option {{#if_eq priority "low"}}selected{{/if_eq}} value="low">Low</option>
          <option {{#if_eq priority "medium"}}selected{{/if_eq}} value="medium">Medium</option>
          <option {{#if_eq priority "high"}}selected{{/if_eq}} value="high">High</option>
        </select>
      </div>
    </div>
  </form>
</div>